body {
  background-image: url(../images/food.jpg);
  font-family: Avenir;
  width: auto;
}

nav {
	background-color: #eee;
	padding: 15px;
}

.navbar-brand {
	font-family: "Gloria Hallelujah";
	font-weight: bold;
	font-size: 38px;
	color: #666;
}

#searchButton{
	background-color: #aaa;
	color: white;
	border-color: #aaa;
}

#newSearch {
	float: right;
	width:30%;
	vertical-align: middle;
}

.form-control {
	width: 70% !important;
}

#gifFilter {
	margin:10px;
	padding: 10px;
	background-color:#eee;
	font-size: 18px;
}

#gifFilter:hover {
  background-color: #bff28c;
}

#gifs{
	text-align: center;
}
#gif {
	display: inline;
	margin: 15px;
	padding-top: 15px;
	background-color: #666;
	color:#fff;
	font-weight: bold;
	width:auto;
	height:auto;
	text-align: center;

}

#clickToMove {
	height: 200px;
}